[submodule "mavoix-api"]
	path = mavoix-api
	url = https://github.com/connectproject/mavoix-api.git
[submodule "mavoix-app"]
	path = mavoix-app
	url = https://github.com/connectproject/mavoix-app.git
[submodule "mavoix-panel"]
	path = mavoix-panel
	url = https://github.com/connectproject/mavoix-panel.git
